<div class="container">
  <div class="row">
    <div class="col-12 p-3 text-center">
      <h2>検索結果</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th>氏名</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @results.each do |customer| %>
            <tr>
              <td><%= customer.name %></td>
              <td><%= link_to "詳細", public_customer_path(customer.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


