<h2>プレイスタイル編集画面</h2>

<%= form_with model: @style, url: admin_style_path, method: :patch do |f| %>

  <label for="inputName">プレイスタイル</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"プレイスタイル" %><br>

  <%= f.submit '保存', class:"btn btn-info btn-sm" %>
<% end %>