<div class="container">
    <div class="row">
        <div class="col-12 p-3 text-center">
            <strong>
                <p>プレイスタイルやプレイ時間を作成することができます。</p>
            </strong>
        </div>
    </div>
</div>