<div class="container">
  <div class="row">
    <div class="col-12 p-3 text-center">
      <h2>検索結果</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th>募集内容</th>
            <th>スタイル</th>
            <th>プレイ時間</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |recruitment| %>
            <tr>
              <td><%= recruitment.recruitment_letter %></td>
              <td><%= recruitment.style.name %></td>
              <td><%= recruitment.play_time.name %></td>
              <td><%= link_to "詳細", public_recruitment_path(recruitment.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>