<div class="container">
    <div class="row">
        <div class="col-12 p-3 text-center">
            <h3>通知</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-10 p-2 text-right">
            <%= link_to public_notification_path(@notifications), method: :delete, class: "btn btn-danger btn-sm" do %>
                <i class="fas fa-trash"></i>全通知削除
            <% end %>
        </div>
    </div>

    <div class="row">
       <div class="col-12 p-2 text-center">
            <% if @notifications.present? %>
                <div class="customers-index">
                    <%= render @notifications %>
                </div>
            <% else %>
                <p>通知はありません</p>
            <% end %>
       </div>
    </div>
</div>